.page-container{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 3px);
}
.grid{
  display: grid;
  grid-template-columns: repeat(3,31.5%);
  grid-gap: 31px;
}
.grid2{
  display: grid;
  grid-template-columns: repeat(5,18%);
  grid-gap: 31px;
}
.grid3{
  display: grid;
  grid-template-columns: repeat(5,18%);
  grid-gap: 31px;
}

.column-containers{
  padding: 10px;
}

.header-container{
  display: flex;
  margin: 0px 9px;
  justify-content: space-between;
}

.left-section{
  display: flex;
  gap:10px;
  align-items: center;
}

.right-section{
  display: flex;
  gap:4px;
  align-items: center;
}